.headerHome {
  text-align: center; /* centers the text horizontally */
  font-family: avanta Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60px; /* optional */
  margin: 0;
  padding: 20px;
  word-spacing: px;
  color: rgb(226, 123, 140);
}

.name {
  font-size: 35px;
  font-family: "Lucida Handwriting", cursive;
  letter-spacing: 1px;
  margin-top: 120px;
  color: black;
  text-align: center;
}

#mainHome {
  color: black;
}

.gallery {
  opacity: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  transform: scale(0.95);
  transition: all 0.4s ease;
}

.gallery.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  position: relative;
}

.gallery-wrapper {
  width: 890px;
  margin: 0 auto; /* centers the whole gallery block */
  font-size: 10px;
  color: black;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 30px;
}
.row img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  transition: 0.3s ease;
}

.row img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*Gallery*/

.add {
  margin-top: -25px;
  text-align: center;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.galBut {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 50px;
}

.category {
  padding-bottom: 30px;
  text-align: left;
  transition: 2s ease;
}

#but1 {
  background-color: rgb(195, 255, 195);
}

#but1:hover {
  background-color: rgb(121, 238, 121);
  transform: scale(1.1);
}

#but2 {
  background-color: pink;
}

#but2:hover {
  background-color: rgb(238, 145, 161);
  transform: scale(1.1);
}

#but3 {
  background-color: yellow;
}

#but3:hover {
  background-color: rgb(245, 197, 94);
  transform: scale(1.1);
}

#but4 {
  background-color: rgb(129, 209, 247);
}

#but4:hover {
  background-color: rgb(100, 147, 247);
  transform: scale(1.1);
}

/*spin effect*/
