.ny-message {
  color: rgb(0, 0, 0);
  background: rgba(128, 128, 128, 0);
  font-size: 13px;
  font-family: "Allura", cursive;

  width: 480px;
  height: 840px;
  display: flex;
  word-spacing: 5px;
  padding-left: 50px;
  padding: 50px;

  text-align: justify;
  margin-bottom: 50px;
  margin-top: -900px;
}

#message {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
}

.paper {
  height: 940px;
  width: 800px;
}
