.login-box {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.loginBut {
  padding: 5px 13.5px;
  border-radius: 15px;
  font-family: Lucida Console;
  background-color: pink;

  cursor: pointer;
  transition: transform 0.3s ease; /* smooth transition */
  margin-right: 5px;
}

/* Hover effect */
.loginBut:hover {
  transform: scale(1.1); /* enlarge 20% */
  background-color: rgb(230, 100, 121);
  color: white;
}

.headPass {
  font-family: Lucida Console;
  font-size: 40px;
}

.enterPass {
  font-family: Lucida Console;
  letter-spacing: 3px;
  word-spacing: 1px;
}

.inputBox {
  padding: 5px 50px;
  border-radius: 15px;
  font-family: "Lucida Handwriting", cursive;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 7px;
}
